<header>
  <div class="header-logo">
    <%= link_to "DiShare", root_path %>
  </div>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-align-justify header-list-icon"></i>   
  </label>
  <ul class="header-list">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Recipe</a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#exampleModal">SignUP</a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#loginModal">LogIN</a>
    </li>
  </ul>
</header>

<!-- Modal -->
<%= render 'shared/login_form' %>
