<header id="sign_up_and_in">
  <div class="header-logo">
    <%= link_to "DiShare", root_path %>
  </div>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-align-justify header-list-icon"></i>   
  </label>
  <ul class="header-list">
    <li>
      <a href="#">ホーム</a>
    </li>
    <li>
      <a href="#">このサイトについて</a>
    </li>
    <!-- <li>
      <a href="#">Recipe</a>
    </li> -->
    <li>
      <a href="#" data-toggle="modal" data-target="#loginModal" @click="onSignUpFormClick">会員登録</a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#loginModal" @click="onLoginFormClick">ログイン</a>
    </li>
  </ul>

  <!-- Modal -->
  <%= render 'shared/login_form' %>
  
</header>

