<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered login" role="document">
    <div class="modal-content login-wrapper">
      <div class="formBx">
        <form>
          <h2>Login</h2>
          <div class="inputBx">
            <input type="text" required>
            <span>full name</span>
          </div>
         <!--  <div class="inputBx">
             <input type="email" required>
             <span>email address</span>
           </div> -->
          <div class="inputBx">
            <input type="password" required>
            <span>password</span>
          </div>
          <div class="inputBx row">
            <input type="submit" value="Login" class="submit col-4">
            <input type="submit" value="signUp" class="submit col-4">
            <input type="submit" value="Login by TestUser" class="submit col-9">
          </div>
        </form>
      </div>
      <div class="imgBx">
        <%= image_tag "ice.png" %>
      </div>
    </div>
  </div>
</div>






