// topページ内のレストラン情報のスタイル
.top-rests-wrapper {
  background: #fff;
  padding: 20px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.top-rests-wrapper .card {
  flex-shrink: 0;
  box-shadow: 0 0 16px black;
  width: 400px;
  height: 200px;
  font-size: 12px;
  margin-left: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.top-rests-wrapper .card .imgBx {
  width: 40%;
  height: 100%;
  // background: #aaa;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-rests-wrapper .card .imgBx img {
  width: 180px;
  height: 160px;
  transform: translateX(-40px);
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
.top-rests-wrapper .card .infoBx {
  height: 100%;
  width: 60%;
  padding: 20px 0;
  overflow-Y: scroll;
}
.top-rests-wrapper .card .infoBx .name{
  font-weight: bold;
}
.top-rests-wrapper .card .infoBx .opentime{
  font-size: 8px;
  padding: 0;
  margin: 0;
}
.top-rests-wrapper .card .infoBx button.show{
  font-size: 13spx;
  margin-top: 30px;
  background: linear-gradient(90deg, rgb(255, 255, 126), rgb(141, 255, 126));
  // background: #888;
  border: none;
  padding: 7px 15px;
  color: navy;
  border-radius: 20px;
  cursor: pointer;
  transition: .4s;
}

.top-rests-wrapper .card .infoBx button.show:hover {
  background: linear-gradient(90deg, rgb(141, 255, 126), rgb(255, 255, 126));
  // background: #ddd;
}

.top-rests-wrapper .card .infoBx button.show:hover:before {
  left: 0;
}

// topページ内のレストラン詳細表示用のモーダル
.nav-item > a {
  color: black;
}
.modal-dialog {
  width: 800px;
  max-width: 800px;
}