// topページのデザイン
.top-main-wrapper {
  background-image: url(top-page-1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.top-main-wrapper:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0,.6);
}



h1 {
  color: tomato;
}
